section {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  gap: 30px;

  img {
    height: 100%;
    width: 100%;
  }

  h5 {
    font-weight: 700;
  }

  p {
    margin-bottom: 0.5px;
  }

  span {
    font-weight: 600;
  }

  button {
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    background-color: #5d587c;
    color: #f4f3f7;
    font-weight: 600;
  }
}
